@import "utils";

.login__box {
  width: 400px;
}

.login__title {
  text-align: center;
  @include fontMixin($mainTitleFontColor, 34px) {
    font-weight: bold;
  }
  margin-bottom: 100px;
}

.login__input_row {
  margin-bottom: 30px;
  &.info{
    margin-bottom: 10px;
  }
}

.login__input {
  width: 100%;
  border: 0;

}
.custom-control-input:checked~.custom-control-label::before{
  background: red;
}
.login__input_box {
  position: relative;
  border-bottom: 1px solid #999;
  
  &:after{
    transition: .5s;
    content: '';
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:0;
    width:0%;
    height: 2px;
    background: $mainBlueColor;
  }
  &.on:after{
    width:100%;
  }
}

.login__info_tx {
  position: relative;
  @include fontMixin($noticeIconColor, 13px);
  left: -10px;
  transition: .5s;
  opacity: 0;
  margin-top: 5px;

  &.on {
    opacity: 1;
    left: 0px;
  }
}

.login__btn_box {
  margin-bottom: 50px;
}

.login__btn {
  display: block;
  background: $mainBlueColor;
  color: $white;
  width: 300px;
  height: 40px;
  margin: auto;
  border: 0;

  &.block {
    width: 100%;
  }
}

.login__checkbox{
  label{
    position: relative;
    font-size: 14px;
    cursor: pointer;
    &:before,&:after{
      top: 0;
    }
  }
}
.login__forget_box{
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;; 
}
.login__forget_tx{
  @include fontMixin($mainTitleFontColor,14px);
}
.login__forget_link{
  display: inline-block;
  margin-left: 10px;
  @include fontMixin($mainBlueColor,14px){
    font-weight: bold;
  }
}
.login__signup_btn_box {
  text-align: center;
}

.login__signup_btn {
  @include fontMixin($mainBlueColor, 18px);

  &:hover {
    text-decoration: underline;
    text-decoration-color: $mainBlueColor;
    color: $mainBlueColor;
  }
}